# Rust build files
rust/target/
Cargo.lock

# Dart & Flutter build files
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock

# IDE and OS files
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db

# Bindings
bindings.h
bindings.dart

# Models
models/

# Tokenizer
tokenizer/

# Example
example/.dart_tool/
example/build/
example/ios/Pods/
example/android/.gradle/
example/dart_test/
example/pubspec.lock

# Test artifacts
**/test/coverage/
**/test/reports/
